<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/404.css">
    <title>Document</title>
</head>
<body>
    <div class="container"> 
        <div class='center'><img src="assets/logo/404.svg" alt="404 not found" /></div>
        <div class='center'> The room with Id = <span id="id"></span> does not exists.</div>
    </div>
    <footer><div id="copy">&copy;&Tab;WebAcademy (2021 - 22)</div><a href="https://storyset.com/web">SVG : Storyset</a></footer>
    <script>document.querySelector('#id').innerHTML = "<%= roomId%>"</script>
    <script>
        const returnHome = () => {
            window.location.replace('http://' + window.location.host);
        }
        setTimeout(returnHome , 3000);
    </script>
</body>
</html>