<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to WebAcademy Meet</title>
    <script src="/firebase/firebase-app.js"></script>
    <script src="/firebase/firebase-firestore.js"></script>
    <script src="/firebase/firebase-auth.js"></script>
    <script src="js/firebaseconfig.js"></script>
    <script src="js/tools/Toast.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/tools/Toast.css">
</head>
<body>
    <header>
        <h1>WebAcademy Meet</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur inventore sequi atque itaque laboriosam quos quis expedita dolorem quae quas!</h2>
        <img id='user-img' src="assets/svg/user.svg" alt="WebAcademy Logo" style="right: 0;"/>
        <img src="assets/svg/videocam_on.svg" alt="WebAcademy Logo" style="left: 0;"/>
        <nav>
            <div class="tab-link" id='Home-Link' onclick="openPage('Home',this)">Home</div>
            <div class="tab-link" onclick="openPage('Price',this)">Pricing</div>
            <div class="tab-link" onclick="openPage('Privacy-Policy',this)">Privacy Policy</div>
            <div class="tab-link" onclick="openPage('T&C',this)">Terms and Condition</div>
            <div class="tab-link" onclick="openPage('About',this)">About us</div>
        </nav>
    </header>

    <div class="tabcontent" id="Home">
        <button id="create_room">Create a room</button>
    </div>
    <div class="tabcontent" id="Price">
        <p>Pricing are now not available</p>
    </div>
    <div class="tabcontent" id="Privacy-Policy">
        <p>We have no privacy policy now</p>
    </div>
    <div class="tabcontent" id="About">
        <p>We are together</p>
    </div>
    <div class="tabcontent" id="T&C">
        <p>Term and Conditions</p>
    </div>

    <div id="login-container" class="modal hidden">
        <div class="popup zoom-animation">
            <button class="">Log In</button>
            <button style="background-color: #34a853; color: white;">Sign In With Email</button>
            <button id='GSI' style="background: linear-gradient(to right, #00f3f4 ,#4285f4,#ea4335,#fbbc05,#34a853,#00f3f4); color: white;">Google Sign In</button>
            <button style="background-color: #3d5b99; color: white;">FaceBook Sign In</button>
            <button id='close' style="background-color : brown; color: white;"> Close </button>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>