<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAcademy meet</title>
    <script src="/firebase/firebase-app.js"></script>
    <script src="/firebase/firebase-firestore.js"></script>
    <script type="module" src="js/firebaseconfig.mjs"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <button id="create_room">Create a room</button>
    <script type="module" src="js/index.js"></script>
</body>
</html>